body{
    font-family: 'Poppins', sans-serif;
}
/* button design  */
.btn-bg{
    background-color: #E76F51;
}
/* features css */
.orange{
    color: #E76F51;
}
.grayscale{
    filter: grayscale(1);
}
.grayscale:hover{
    filter: grayscale(0);
}
/* client review */
.col{
    width: 322px;
}
.custom-img-size{
    width: 149px;
    margin-top: 40px;
}
.card-element-distance{
    margin-bottom: 15px !important;
}
/* FAQ text color  */
.text-half-black{
    color: #383838;
}

/* Underline hover  */
.und{
    cursor: pointer;
}
.und::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(12, 3, 41);
    display: block;
    transition: 1s;
}

.und:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}
